github "ArtSabintsev/FontBlaster" "5.1.1"
github "ZipArchive/ZipArchive" "v2.2.3"
github "alexpopov/ZFDragableModalTransition" "8da951efb4202385630d1cf7104b60d1208f807e"
github "cxa/MenuItemKit" "4.0.1"
github "realm/realm-cocoa" "v5.4.3"
github "tadija/AEXML" "4.6.0"
