github "ZipArchive/ZipArchive" ~> 1.6
github "cxa/MenuItemKit" == 2.0
github "alexpopov/ZFDragableModalTransition" "merge-carthage-into-zoonooz"
github "tadija/AEXML" == 4.0
github "ArtSabintsev/FontBlaster" == 3.0.0
github "jessesquires/JSQWebViewController" ~> 5.0
github "realm/realm-cocoa" ~> 2.1